.App-header {
  font-family: "Open Sans", sans-serif;
  margin: 30px 0;
  text-align: center;
  color: #ef5f9a;
}
.App-header p {
  color: #272044;
}
.App-header a {
  text-decoration: none;
  color: #6fd5d2;
}

.main {
  display: block;
  height: 480px;
  width: 400px;
  background-color: #fcbaca;
  border-radius: 50px;
  margin: 20px auto;
}

.App-footer {
  margin: 20px 0;
  text-align: center;
}
